<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.gongyunhaoyyy.timesaver">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/timesaver_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".CalenderActivity">
        </activity>
        <activity android:name=".RegisterActivity">
        </activity>
        <activity android:name=".toDoActivity"
            android:theme="@style/toDoActivity">
        </activity>
        <activity android:name=".deadlineActivity"
            android:theme="@style/deadlineActivity">
        </activity>
        <activity android:name=".timeReportActivity">
        </activity>
        <activity android:name=".timeSaverCommunityActivity">
        </activity>
        <activity android:name=".appcontrol.ThirdPartAppActivity"/>
        <activity android:name=".appcontrol.ManageAppDetail">
        </activity>
        <activity android:name=".appcontrol.AppManageActivity">
        </activity>
        <activity android:name=".SettingActivity">
        </activity>
        <meta-data android:name="com.baidu.speech.APP_ID"
            android:value="10446269" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="j8Qv9Ej1vYn0YLWcTSRmrMGz" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="55eda22d7f1a1fb86c689170b729efb5" />

        <service android:name="com.baidu.speech.VoiceRecognitionService" android:exported="false" />

    </application>

</manifest>